:root {
    --first-text-color: #212121;
    --second-text-color: #000000;
    --third-text-color: #FFFFFF;
    --fourth-text-color: #188CE8;
    --fifth-text-color: #2F303A;
    --sixth-text-color: rgba(255, 255, 255, 0.6);
    --accent-text-color: #2196F3;
    --main-text-color: #757575;

}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* -----------------HEADER---------------- */



.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-text-color);
}

.header-logo-text{
    color:var(--second-text-color);
}

.header-list{
    color: var(--first-text-color);
}

.header-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.header-link-active{
    color: var(--accent-text-color);
}




/* -----------------HERO---------------- */



.hero{
    background-color: var(--fifth-text-color);
    padding-top: 200;
    padding-bottom: 200;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button{
    font-family: inherit;
    background: var(--accent-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    cursor: pointer;
}


.hero-button:hover,
.hero-button:focus{
    background: var(--fourth-text-color);
}



/* -----------------OUR ADVANTAGES---------------- */



.properties-item-title{
    color: var(--first-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}


/* -----------------WHAT WE DO?---------------- */


.section-title{
    color: var(--first-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}




/* -----------------OUR TEAM---------------- */



.team-item-title{
    font-weight: 500;
    color: var(--first-text-color);
    }

.team-item-title,
.team-item-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}



/* -----------------FOOTER---------------- */

.footer{
    background-color: var(--fifth-text-color);
}

.footer-logo-text,
.address-link{
    color: var(--third-text-color);
}

address{
    font-style: inherit;
}

.address-info {
    color: var(--sixth-text-color);
}

.address-info:hover,
.address-info:focus{
    color: var(--third-text-color);
}



/* ----------------------------------PORTFOLIO------------------------------------ */



.buttons{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

.buttons:hover,
.buttons:focus,
.current-btn{
    background: var(--accent-text-color);
    color: var(--third-text-color);
}

.portfolio-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
}

.portfolio-item-text{
font-size: 16px;
line-height: 1.87;
}